body{
    background: url("../images/money.jpg")
    no-repeat left top fixed;background-size: cover;
    font: normal 13px/1.4em 'Farro', sans-serif;
}

header{
    font-size: 25px;
    padding: 10px 20px;
    background-color: rgba(66,4,54,0.74);
    color: white;
    text-align: center;
}

input[type="submit"] {
    width: 200px;
    padding: 10px 0;
    margin: 5px 0;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: rgba(66,4,54,0.74);
    color: white;
}

input[type="text"], input[type="email"], input[type="password"],  input[type="date"]{
    width: 200px;
    padding: 10px 0;
    margin: 5px 0;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: white;
    color: grey;
}

select {
    width: 200px;
    padding: 10px 0;
    margin: 5px 0;
    box-sizing: border-box;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

p.error-message {
    font-size: 15px;
    color: red;
}

p.message{
    font-size: 15px;
    color: black;
}