<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password page</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h3>CHANGE PASSWORD</h3>
<form th:action="@{/change}" th:object="${changePassword}"  method="post">
    <p class="er" th:errors="*{oldPassword}"></p>
    <input th:field="*{oldPassword}" type="password" placeholder="old password"/><br/>
    <p class="er" th:errors="*{newPassword}"></p>
    <input th:field="*{newPassword}" type="password" placeholder="new password"/><br/>
    <p class="er" th:errors="*{confirmNewPassword}"></p>
    <input th:field="*{confirmNewPassword}" type="password" placeholder="confirm new password"/><br/>
    <input type="submit" value="Change password">
</form>
<form th:action="@{/logged}"  method="get">
    <input type="submit" value="Back" >
</form>
</body>
</html>