<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="message-header">CHANGE PASSWORD</p>
<p class="help-message">Enter your current password <br> and set a new one.</p>
<form th:action="@{/user/settings/change-password}" th:object="${changePassword}"  method="post">
    <p class="error-message" th:errors="*{oldPassword}"></p>
    <label for="current">Current password:</label>
    <input id="current" th:field="*{oldPassword}" type="password" placeholder="Please enter your current password"/>
    <p class="error-message" th:errors="*{newPassword}"></p>
    <label for="newPassword">New password:</label>
    <input id="newPassword" th:field="*{newPassword}" type="password" placeholder="Please enter new password"/>
    <p class="error-message" th:errors="*{confirmNewPassword}"></p>
    <label for="confirmPassword">Confirm new password:</label>
    <input id="confirmPassword" th:field="*{confirmNewPassword}" type="password" placeholder="Please confirm new password"/>
    <input type="submit" value="Change password">
</form>
<form th:action="@{/user/settings}"  method="get">
    <input type="submit" value="Back" >
</form>
</body>
</html>