<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="error-message">[(${errorMessage})]</p>
<form th:action="@{/home}" method="get">
    <input type="submit" value="Go to main page" >
</form>
<form th:action="@{/home/login}" method="get">
    <input type="submit" value="Go to login page" >
</form>
</body>
</html>