<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="message-header">DELETE ACCOUNT</p>
<p class="help-message">Enter your current password to delete account.</p>
<form th:action="@{/user/delete-account}" th:method="delete">
    <p class="error-message" th:if="${errorMessage != null}">Incorrect password</p>
    <input type="password" name="passwordToCheck" placeholder="password"/><br/>
    <input type="submit" value="Confirm deletion" >
</form>
<form th:action="@{/user}"  method="get">
    <input type="submit" value="Back">
</form>
</body>
</html>
