<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h3>YOUR PAGE</h3>
<form th:action="@{/add-spending}"  method="get">
    <input type="submit" value="Add new spending" >
</form>
<form th:action="@{/create-report}"  method="get">
    <input type="submit" value="Create report" >
</form>
<form th:action="@{/delete-account}"  method="get">
    <input type="submit" value="Delete account" >
</form>
<form th:action="@{/}"  method="get">
    <input type="submit" value="Sign out" >
</form>
</body>
</html>
