<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h3>YOUR PAGE</h3>
<form th:action="@{/user/add-spending}" method="get">
    <input type="submit" value="Add new spending" >
</form>
<form th:action="@{/user/report}" method="get">
    <input type="submit" value="Create report" >
</form>
<form th:action="@{/user/change-password}" method="get">
    <input type="submit" value="Change password" >
</form>
<form th:action="@{/user/delete-account}" method="get">
    <input type="submit" value="Delete account" >
</form>
<form th:action="@{/home}" method="get">
    <input type="submit" value="Sign out" >
</form>
</body>
</html>
