<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="message-header">CREATE ACCOUNT</p>
<form th:action="@{/home/register}" th:object="${user}"  method="post">
    <p class="error-message" th:errors="*{email}"></p>
    <input th:field="*{email}" type="email" placeholder="e-mail"/><br/>
    <p class="error-message" th:errors="*{password}"></p>
    <input th:field="*{password}" type="password" placeholder="password"/><br/>
    <p class="error-message" th:errors="*{confirmPassword}"></p>
    <input th:field="*{confirmPassword}" type="password" placeholder="confirm password"/><br/>
    <input type="submit" value="Register">
</form>
<form th:action="@{/home}"  method="get">
    <input type="submit" value="Back" >
</form>
</body>
</html>