<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration page</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h3>REGISTRATION</h3>
<form th:action="@{/added-user}" th:object="${user}"  method="post">
    <p class="er" th:errors="*{email}"></p>
    <input th:field="*{email}" type="email" placeholder="e-mail"/><br/>
    <p class="er" th:errors="*{password}"></p>
    <input th:field="*{password}" type="password" placeholder="password"/>
    <p class="er" th:errors="*{confirmPassword}"></p>
    <input th:field="*{confirmPassword}" type="password" placeholder="confirm password"/><br/>
    <input type="submit" value="Register">
</form>
<form th:action="@{/}"  method="get">
    <input type="submit" value="Back" >
</form>
</body>
</html>