<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="message-header">CREATE ACCOUNT</p>
<form th:action="@{/home/register}" th:object="${user}"  method="post">
    <p class="error-message" th:errors="*{email}"></p>
    <label for="login">Login:</label>
    <input id="login" th:field="*{email}" type="email" placeholder="Please enter your e-mail address as login"/>
    <p class="error-message" th:errors="*{password}"></p>
    <label for="password">Set password:</label>
    <input id="password" th:field="*{password}" type="password" placeholder="Please set password"/>
    <p class="error-message" th:errors="*{confirmPassword}"></p>
    <label for="confirmPassword">Set password:</label>
    <input id="confirmPassword" th:field="*{confirmPassword}" type="password" placeholder="Please confirm password"/>
    <input type="submit" value="Register">
</form>
<form th:action="@{/home}"  method="get">
    <input type="submit" value="Back" >
</form>
</body>
</html>