<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your report</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h3>ADD SPENDING</h3>
<form th:target="_blank" th:action="@{/user/report}" th:object="${reportSettings}" method="post">
    <input th:field="*{startDate}" type="date" placeholder="from date"/><br/>
    <input th:field="*{endDate}" type="date" placeholder="to date"/><br/>
    <select th:field="*{forWhat}">
        <option selected th:value="ALL" th:text="all"></option>
        <option th:value="FOOD" th:text="food"></option>
        <option th:value="CLOTHES" th:text="clothes"></option>
        <option th:value="COSMETICS" th:text="cosmetics"></option>
        <option th:value="FLAT_BILLS" th:text="flat-bills"></option>
        <option th:value="FLAT_OTHER" th:text="flat-other"></option>
        <option th:value="CAR_FUEL" th:text="car-fuel"></option>
        <option th:value="CAR_OTHER" th:text="car-other"></option>
        <option th:value="RECREATION" th:text="recreation"></option>
        <option th:value="TRAVEL" th:text="travel"></option>
    </select><br>
    <input type="submit" value="Generate report">
</form>
<form th:action="@{/user}"  method="get">
    <input type="submit" value="Back to your page" >
</form>
</body>
</html>
