<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password page</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="message">CHANGE PASSWORD</p>
<form th:action="@{/home/set-new-password(id=${id})}" th:object="${changePassword}"  method="post">
    <p class="error-message" th:errors="*{newPassword}"></p>
    <input th:field="*{newPassword}" type="password" placeholder="new password"/><br/>
    <p class="error-message" th:errors="*{confirmNewPassword}"></p>
    <input th:field="*{confirmNewPassword}" type="password" placeholder="confirm new password"/><br/>
    <input type="submit" value="Change password">
</form>
<form th:action="@{/home/login}"  method="get">
    <input type="submit" value="Login page" >
</form>
</body>
</html>