<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="message-header">CHANGE PASSWORD</p>
<p class="help-message">Set new password to your account.</p>
<form th:action="@{/home/set-new-password(id=${id})}" th:object="${changePassword}"  method="post">
    <p class="error-message" th:errors="*{newPassword}"></p>
    <label for="password">Password:</label>
    <input id="password" th:field="*{newPassword}" type="password" placeholder="Please set new password"/>
    <p class="error-message" th:errors="*{confirmNewPassword}"></p>
    <label for="confirmPassword">Confirm password:</label>
    <input id="confirmPassword" th:field="*{confirmNewPassword}" type="password" placeholder="Please confirm new password"/>
    <input type="submit" value="Change password">
</form>
<form th:action="@{/home/login}"  method="get">
    <input type="submit" value="Login page" >
</form>
</body>
</html>