<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<h3>Enter your email address</h3>
<form th:action="@{/home/login/new-password}" method="post">
    <p class="er" th:if="${errorMessage != null}">There is not account with this email address</p>
    <input type="email" name="emailAddress" placeholder="Send password reset email" ><br>
    <input type="submit" value="Send password reset email" >
</form>
<form th:action="@{/home}"  method="get">
    <input type="submit" value="Go to main page" >
</form>
</body>
</html>
