<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Budget organizer</title>
    <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
</head>
<body>
<header>BUDGET ORGANIZER</header>
<p class="message-header">CHANGE PASSWORD</p>
<p class="help-message">Enter your current password and set a new one.</p>
<form th:action="@{/user/change-password}" th:object="${changePassword}"  method="post">
    <p class="error-message" th:errors="*{oldPassword}"></p>
    <input th:field="*{oldPassword}" type="password" placeholder="Current password"/><br/>
    <p class="error-message" th:errors="*{newPassword}"></p>
    <input th:field="*{newPassword}" type="password" placeholder="New password"/><br/>
    <p class="error-message" th:errors="*{confirmNewPassword}"></p>
    <input th:field="*{confirmNewPassword}" type="password" placeholder="Confirm new password"/><br/>
    <input type="submit" value="Change password">
</form>
<form th:action="@{/user}"  method="get">
    <input type="submit" value="Back" >
</form>
</body>
</html>